.exp {
  background-color: #a3a3a3;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid: 100px;
}
.exp-conteiner {
  background-color: #a3a3a3;
}
.experiencia {
  background-color: #a3a3a3;
}

.exp .subtitulo {
  color: white;
}

.exp-txt strong {
  color: #141414;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}
.emp-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
}
.emp-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.emp-txt {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.emp-hab {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.emp-hab li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
}
@media (max-width: 1110px) {
  .exp {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .exp .subtitulo {
    color: #141414;
  }
  .exp-txt {
    font-size: 1.25rem;
  }
  .emp-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
